@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  font-size: 10px;
  --topBar_bg_color:#607d8b;
  --sideBar_text_light:#ffffff;
  --swapContainer_bg:#ffffffef;
  --swapLinearThemeGradient:linear-gradient(to right,black,10%,green,40%,#00ff00);
}a{
  text-decoration: none;
  color: white;
}
@font-face {
  font-family: boiled;
  src: url(../src/fonts/BoiledSnakes.ttf);
}
@font-face {
  font-family: girlfriend;
  src: url(../src/fonts/Girlfriend.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../src/fonts/Poppins-SemiBold.ttf);
}


